{% extends 'base.html' %}

{% block title %}
<title>Update Profile</title>
{% endblock title %}

{% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if error %}
{{ error }}
{% endif %}

<form style="position: absolute; margin-top: -40vh; margin-left: 25vw;" method="POST" enctype="multipart/form-data" onSubmit= "window.close();">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-dark btn-block" type="submit">Update</button>
</form>

    {% comment %} <form style="position: absolute; margin-top: -40vh; margin-left: 37.5vw;">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
    {% endcomment %} 
{% endblock content %}