{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Signup - Notatish</title>
{% endblock title %}

{% block content %}
<div class="container-fluid" style="position:absolute; top: 100px;">
  <div class="card text-black mb-3">
    <div class="card-header">Signup</div>
      <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button style="width:100%" class="btn btn-action" type="submit">Signup</button>
	          </form>
	          <p style="margin-bottom:-1px;margin-top:10px;text-align:center">or</p>
	          <a style="width:100%" class="btn btn-dark" href="{% url 'login' %}">Login</a>
          </div>
        </div>
      </div>
</div>
{% endblock %}
