div {
    font-family: Roboto, -apple-system,
    BlinkMacSystemFont, 'Segoe UI',
    Oxygen, Ubuntu,
    Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.btn-action{
    background-color: #04724d;
    color: #fff;
}

.btn-action:hover{
    background-color: #23e8a5;
    color: #fff;
}

.gradient-main{
    background-image: linear-gradient(#04724d, #23e8a5);
}

.btn-outline-white{
    border-color: #fff !important;
    color: white;
}

.btn-outline-white:hover{
    background: #e6e6e6;
    color: #000;
}

.home_background{
    background-repeat:no-repeat;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0 
}


.btn-right {
    float: right;
}


#ocean{
    position:absolute;
    min-width:100%;
    min-height:100vh;
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #FFF),
    color-stop(0.50, #FFF)
    );
  }
  
.wave{
  background: #23E8A5;
  display:inline-block;
  height:60vh;
  width:10px;
  position:absolute;
  animation-name:             dostuff; 
  animation-duration:         3s; 
  animation-iteration-count:  infinite;
  transition-timing-function: ease-in-out;
}


@keyframes dostuff{
  0%{
    height:60vh;
  }
  50%{ 
    height:50vh;
  }
  100%{ 
    height:60vh;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .wrapper .file-upload {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #FFF 50%, #23E8A5 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #23E8A5;
    font-size: 40px; }
    .wrapper .file-upload input[type='file'] {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer; }
    .wrapper .file-upload:hover {
      background-position: 0 -100%;
      color: #FFF; }

      .video-container { position:relative; }
      .video-container video {
          position:relative;
          z-index:0;
      }
      .video-overlay {
          position:absolute;
          
      }
      .video-shadow {
          width: 720px !important;
          height: 1280px !important;
          left:0;
          right: auto;
          bottom:0;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.98%, rgba(0, 0, 0, 0.21) 52.08%, #121212 98.44%), url();
          border-radius: 15px;
      }


      /* Loader */
      .lds-ripple {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ripple div {
        position: absolute;
        border: 4px solid #fff;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }
      .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
      }
      @keyframes lds-ripple {
        0% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 1;
        }
        100% {
          top: 0px;
          left: 0px;
          width: 72px;
          height: 72px;
          opacity: 0;
        }
      }
      
      /* Loader */

      