asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
cliapp==1.0.9
click==7.1.1
colorama==0.4.3
crayons==0.3.0
Django==3.0.5
django-appconf==1.0.4
django-cors-headers==3.2.1
django-ipware==2.1.0
djangorestframework==3.11.0
idna==2.9
jsonfield==3.1.0
numpy==1.18.3
Pillow==7.1.1
pinax-badges==2.0.3
pinax-cli==1.1.4
pinax-stripe==4.4.0
pkg-resources==0.0.0
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
stripe==2.45.0
urllib3==1.25.9
