asgiref==3.2.5
certifi==2020.4.5
chardet==3.0.4
Django==3.0.4
django-cors-headers==3.2.1
django-cors-middleware==1.5.0
djangorestframework==3.11.0
future==0.18.2
idna==2.9
maxminddb==1.5.2
numpy==1.18.2
Pillow==7.0.0
pkg-resources==0.0.0
pytz==2019.3
requests==2.23.0
reverse-geocode==1.4
scipy==1.4.1
Shapely==1.7.0
sqlparse==0.3.1
