<!--TODO: 
    -Make mobile version;

-->
{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Latytube</title>
    
{% endblock title %}
    
{% block content %}

<div id="ocean" class="text-center text-black">

<script>
    var ocean = document.getElementById("ocean"),
    waveWidth = 10,
    waveCount = Math.floor((window.innerWidth - 7)/waveWidth),
    docFrag = document.createDocumentFragment();

    for(var i = 0; i < waveCount; i++){
    var wave = document.createElement("div");
    wave.className += " wave";
    docFrag.appendChild(wave);
    wave.style.webkitAnimationDelay = (i/100) + "s";
    wave.style.left = i * waveWidth + "px";
    }

    ocean.appendChild(docFrag);
</script>

<div class="computer-view">
    <a class="btn m-3" href="/accounts/login" style="background: white; position: absolute; top: 0; right: 0;">Sign Up</a>


    <div style="position: absolute; left: 50%;">
        <div class="text-black" style="position: relative; left: -50%; margin-top:100px; margin-bottom: 25px;">
            <b style="font-size: 70px;">Latytube</b>
            <br>
            <b style="font-size: 30px;">The all-new geo-location app <br> to share moments</b>
        </div>
        <div class="text-black row" style="position: relative; left: -50%; margin-top:90px; margin-bottom: 25px;">
            <img src="{% static 'svg/map_home.svg' %}" class="col" alt="">
                
            <video class="col" width="405" height="720" position="relative" src="{% static 'billievideo.mp4' %}" type="video/mp4" loop autoplay muted></video>
        </div>
    </div>
    
    </div>
</div>

<div class="mobile-view" style="position: absolute; left: 50%;">

</div>

{% endblock content %}