<!--TODO: 
    -Make mobile version;

-->
{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Latytube</title>
    
{% endblock title %}


{% block content %}


<div class="text-center text-black">

<div class="computer-view" style="margin-top: -30vh;">
    {% if not user.is_authenticated %}
    <div class="mt-3 mr-3" style="position: absolute; top: 0; right: 0;">
        <a class="btn btn-light" href="{% url 'signup' %}" >Sign Up</a>
        <a class="btn btn-dark" href="{% url 'login' %}">Login</a>
    </div>
    {% else %}
    
    {% endif %}





    <div style="position: absolute; left: 50%; margin-top:-10vh">
        <h1 style="color: white; position: relative; left: -50%; margin-bottom: 15vh; margin-top: 5vh;">Latytube
        <p style="font-size: 30px; margin-top: 20px;">The All New Geolocation Social Media To share moments</p>
        </h1>
        <div class="text-black row" style="position: relative; left: -50%; margin-bottom: 25px;">
            <img class="rounded-lg col" src="{% static 'svg/map_home.svg' %}" alt="">
            <video style="position: relative;" class="col rounded-lg" id="video" width='405' muted autoplay loop>
                <source src="{% static 'billievideo.mp4' %}" type="video/mp4" />
            </video>    

        </div>
    </div>
    
    </div>
</div>

<div class="mobile-view" style="position: absolute; left: 50%;">

</div>

{% endblock content %}