{% extends 'base.html' %}
{% load static %}
{% load pinax_points_tags %}

{% block title %}
<title>Map - Latytube</title>
<link rel="stylesheet" href="{% static 'css/global.css' %}">
{% endblock title %}    

{% block wave %}


<style>


    .marker {
      background-size: cover;
      border-radius: 10px;
      font-size: 100%;
      cursor: pointer;
      width: 16.88vh;
      height: 30vh;
    }
    .marker:hover {
      font-size: 150%;
      box-shadow: 0px 0px 50px #000000;
      /* animation-name: zoomin;
      animation-duration: 1s; */
    }
    
    /* @keyframes zoomin {  
      0%   {width: 16.88vh; height: 30vh;}
      100% {width: 45vh; height: 80vh; font-size: 150%;}
    } */
    
    .markerZoomIn {
      animation-name: zoomin;
      animation-duration: 1s;
      width: 45vh; height: 80vh; font-size: 150%;
      z-index: 2;
    }
    
    @keyframes zoomin {  
      0%   {width: 16.88vh; height: 30vh;}
      100% {width: 45vh; height: 80vh; font-size: 150%;}
    }
    
    .markerZoomOut {
      animation-name: zoomout;
      animation-duration: 1s;
      width: 16.88vh; height: 30vh; font-size: 100%;
      z-index: 1;
    }
    
    @keyframes zoomout {  
      0%      {width: 45vh; height: 80vh; font-size: 150%;}
      100%    {width: 16.88vh; height: 30vh; font-size: 100%;}
    }
    
    #custom-seekbar {  
      cursor: pointer;
      height: 5px;
      position:absolute;
      top:0;
      width:90%;
      margin-top: 10px;
    }
    #custom-seekbar span{
      position: absolute;
      top: 0;
      height: 5px;
      width: 0px;
      border-radius:30px;
      box-shadow: 0px 0px 50px #000000;
      margin-left: 5%;
      margin-right: 5%;
    }
    
    /* following rule is for hiding Stack Overflow's console  */
    .as-console-wrapper{ display: none !important;}
    
    #toolbox {
      width:50px;
      position: absolute;
      z-index: 9;
      background-color: #fff;
      text-align: center;
      border-radius: .25em;
    }
    
    #toolboxheader {
    padding: 10px;
    z-index: 10;
    }
    
    
    </style>

{% endblock wave %}
    
{% block content %}


{% include 'home/mainSearchBar.html' %}

{% include 'home/toolbox/toolbox.html' %}

<div style="position: absolute; margin-left: 50px; z-index: 4; height: 100vh; max-width: 450px;">
    {% include 'home/toolbox/uploaderTab.html' %}
    {% include 'home/toolbox/chatTab.html' %}
    {% include 'home/toolbox/achievementsTab.html' %}
    {% include 'home/toolbox/premiumTab.html' %}
    {% include 'home/toolbox/profileTab.html' %}
</div>

{% endblock content %}

