<script>
function playvideo(videoId, coordinatesOfVideo, videoTitle) {
    var videoMarker = document.getElementById(videoId + "-marker");
    var mediaVideo = $("#" + videoId).get(0);
    map.flyTo({
        center: coordinatesOfVideo,
        speed: 0.2,
        });


    $('#'+ videoId + '-views').click(function() {
        retrieveCommentsLikesViews()
    });
    $('#'+ videoId + '-like').click(function() {
        retrieveCommentsLikesViews()
    });

    retrieveCommentsLikesViews()
    function retrieveCommentsLikesViews(){
        $.ajax({
            type: 'POST',
            url: '/f/video/' + videoMarker.id.replace("-marker", "") + '/get-comments-likes-views',
            data: {
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
            },
            success: addCommentsLikesViews,
        });

        function addCommentsLikesViews(data, textStatus, jqXHR){
            $('#'+ videoId + '-comments').html(data);
        }
    }



    if (mediaVideo.paused) {
        document.title = videoTitle;
        var els = document.querySelectorAll('.markerZoomIn')

        _removeClasses()

        function _removeClasses() {
            for (var i = 0; i < els.length; i++) {
                console.log(els[i].id.replace('-marker','-hiddenDeck'));
                var deckToHide = els[i].id.replace('-marker', '-hiddenDeck');
                document.getElementById(deckToHide).style.display = "none";
                els[i].classList.remove('markerZoomIn');
                document.querySelectorAll('video').forEach(vid => vid.pause());

         
            }
        }



        $('#' + videoId + '-newcommentsubmit').click(function(){
            var valueinput = $('#' + videoId + '-newcomment').val();
            if ( valueinput.length > 0){
                if ( $.trim( valueinput ) !== '' ){
                    $.ajax({
                        type: 'POST',
                        url: '/f/video/' + videoMarker.id.replace("-marker", "") + '/comment',
                        data: {
                            'comments_message': $('#'+ videoId + '-newcomment').val(),
                            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                        },
                        success: addingCommentSuccessful,
                    });
                    function addingCommentSuccessful(){
                        $('#'+ videoId + '-newcomment').val("");
                        retrieveCommentsLikesViews()
                    }
                }
            }
        });


        videoMarker.classList.remove('markerZoomOut');
        videoMarker.classList.add('markerZoomIn');

        $.ajax({
        type: 'POST',
        url: '/f/video/' + videoMarker.id.replace("-marker", "") + '/visualization',
        data: {
            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
        },
        success: videoWasViewed,
    });

    function videoWasViewed(data, textStatus, jqXHR){
        //Maybe return new views value
    }            
            
        

        mediaVideo.play();
        
        mediaVideo.ontimeupdate = function(){
        var percentage = ( mediaVideo.currentTime / mediaVideo.duration ) * 100;
            $("#progressbar" + videoId).css("width", percentage+"%");
        };

        if ($( "#" + videoId + "-marker" ).hasClass( "markerZoomIn" )) {
            document.getElementById(videoId + "-hiddenDeck").style.display = 'block';
        }
        
        if ($( "#" + videoId + "-marker" ).hasClass( "markerZoomOut" )) {
            document.getElementById(videoId + "-hiddenDeck").style.display = 'none';
        }

    } else {
        mediaVideo.pause();


        document.title = "Latytube";
        var videoMarker = document.getElementById(videoId+ "-marker");
        videoMarker.classList.remove("markerZoomIn");
        videoMarker.classList.add('markerZoomOut');
        if ($( "#" + videoId + "-marker" ).hasClass( "markerZoomIn" )) {
            document.getElementById(videoId + "-hiddenDeck").style.display = 'block';
        }
        if ($( "#" + videoId + "-marker" ).hasClass( "markerZoomOut" )) {
            document.getElementById(videoId + "-hiddenDeck").style.display = 'none';
        }
    }
}

    function likevideo(liked_video_id){
        $.ajax({
            type: 'POST',
            url: '/f/video/' + liked_video_id + '/like',
            data: {
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
            },
            success: console.log,
        });
    }


      


</script>
