<script>
function playvideo(videoId, coordinatesOfVideo, videoTitle) {
    var videoMarker = document.getElementById(videoId + "-element");
    var mediaVideo = $("#" + videoId).get(0);
    map.flyTo({
        center: coordinatesOfVideo,
        speed: 0.2,
        });
    if (mediaVideo.paused) {
        document.title = videoTitle;

        var els = document.querySelectorAll('.markerZoomIn')

        _removeClasses()

        function _removeClasses() {
            for (var i = 0; i < els.length; i++) {
                els[i].classList.remove('markerZoomIn')
                document.querySelectorAll('video').forEach(vid => vid.pause());
            }
        }
            videoMarker.classList.remove('markerZoomOut');
            videoMarker.classList.add('markerZoomIn');

        mediaVideo.play();
        
        mediaVideo.ontimeupdate = function(){
        var percentage = ( mediaVideo.currentTime / mediaVideo.duration ) * 100;
            $("#progressbar" + videoId).css("width", percentage+"%");
        };

    } else {
        mediaVideo.pause();

        document.title = "Latytube";
        var videoMarker = document.getElementById(videoId+ "-element");
        videoMarker.classList.remove("markerZoomIn");
        videoMarker.classList.add('markerZoomOut');
    }
}
</script>