<script>
function playvideo(videoId, coordinatesOfVideo, videoTitle) {
    var videoMarker = document.getElementById(videoId + "-marker");
    var mediaVideo = $("#" + videoId).get(0);
    map.flyTo({
        center: coordinatesOfVideo,
        speed: 0.2,
        });
    if (mediaVideo.paused) {
        document.title = videoTitle;

        var els = document.querySelectorAll('.markerZoomIn')

        _removeClasses()

        function _removeClasses() {
            for (var i = 0; i < els.length; i++) {
                
                els[i].classList.remove('markerZoomIn')
                document.querySelectorAll('video').forEach(vid => vid.pause());

         
            }
        }
            videoMarker.classList.remove('markerZoomOut');
            videoMarker.classList.add('markerZoomIn');
            
            
        

        mediaVideo.play();
        
        mediaVideo.ontimeupdate = function(){
        var percentage = ( mediaVideo.currentTime / mediaVideo.duration ) * 100;
            $("#progressbar" + videoId).css("width", percentage+"%");
        };

        if ($( "#" + videoId + "-marker" ).hasClass( "markerZoomIn" )) {
            document.getElementById(videoId + "-hiddenDeck").style.display = 'block';
        }
        
        if ($( "#" + videoId + "-marker" ).hasClass( "markerZoomOut" )) {
            document.getElementById(videoId + "-hiddenDeck").style.display = 'none';
        }

    } else {
        mediaVideo.pause();


        document.title = "Latytube";
        var videoMarker = document.getElementById(videoId+ "-marker");
        videoMarker.classList.remove("markerZoomIn");
        videoMarker.classList.add('markerZoomOut');
        if ($( "#" + videoId + "-marker" ).hasClass( "markerZoomIn" )) {
            document.getElementById(videoId + "-hiddenDeck").style.display = 'block';
        }
        if ($( "#" + videoId + "-marker" ).hasClass( "markerZoomOut" )) {
            document.getElementById(videoId + "-hiddenDeck").style.display = 'none';
        }
    }
}
</script>